{{ define "main" }}
<div class="post-list">
    {{ $currentYear := "" }} <!-- Initialize an empty variable for current year -->
    {{ range where .Pages "Type" "posts" }}
        {{ $year := .Date.Format "2006" }} <!-- Get the year of the current post -->
        <!-- Check if the current post's year is different from the last one displayed -->
        {{ if ne $year $currentYear }}
            {{ if ne $currentYear "" }} <!-- Close previous year section if not the first year -->
                </ul>
            {{ end }}
            <h2>{{ $year }}</h2> <!-- Display the year -->
            <ul>
            {{ $currentYear = $year }} <!-- Update current year to the new one -->
        {{ end }}
        
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a> <!-- Link to the post -->
            <small>{{ .Date.Format "Jan 2, 2006" }}</small> <!-- Display the date -->
        </li>
    {{ end }}
    {{ if ne $currentYear "" }} <!-- Close the last year section -->
        </ul>
    {{ end }}
</div>
{{ end }}
