<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitesh Pattanayak</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="background">
        <!-- Multiple bubble divs for more effect -->
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
    <div id="intro">
        <h1 id="name">
          <span class="first-name">Hitesh</span>
          <span class="last-name">Pattanayak</span>
        </h1>
        <nav>
          <ul>
            <li><a href="/about">about</a></li>
            <li><a href="/posts">posts</a></li>
            <li><a href="/resume/Hitesh-Pattanayak-Resume-2024.pdf">resume</a></li>
            <li><a href="https://github.com/hiteshrepo">gitHub</a></li>
            <li><a href="https://linkedin.com/in/hitesh-pattanayak">linked-in</a></li>
          </ul>
        </nav>
      </div>
</body>
</html>
