<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitesh Pattanayak</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="background">
        <!-- Multiple bubble divs for more effect -->
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
    <div id="intro">
        <h1 id="name">
          <span class="first-name">Hitesh</span>
          <span class="last-name">Pattanayak</span>
        </h1>
        <nav>
          <ul>
            <li><a href="https://hiteshrepo.github.io/#about">about</a></li>
            <li><a href="/technical">tech</a></li>
            <li><a href="/nontechnical">non-tech</a></li>
          </ul>
        </nav>
      </div>
</body>
</html>
